<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My About Page</title>
    <link rel="stylesheet" href="./../libs/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./../css/style.css">
</head>

<body class="card-panel deep-orange lighten-1">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Prague, Czech Republic</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/history">History</a></li>
                <li><a href="/landmarks">Landmarks</a></li>
                <li><a href="/tourism">Tourism</a></li>
                <li><a href="/transportation">Transportation</a></li>
                <li><a id="about" href="/about">About</a></li>
            </ul>
        </div>
    </nav>

    <div class="parallax-container">
        <div class="parallax"><img src="https://instagram.fphx1-1.fna.fbcdn.net/t51.2885-15/e35/21042375_333838890408826_2699059037667852288_n.jpg"></div>
    </div>

    <div class="section white">
        <div class="row container">
            <h5 class="grey-text text-darken-3 lighten-3">Prague is the capital and largest city of the Czech Republic. Prague is nicknamed “the City of a Hundred Spires”.
                <b><em>Visit Prague, Czech Republic!</em></b>
            </h5>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="https://instagram.fphx1-1.fna.fbcdn.net/t51.2885-15/e35/20986761_1510124645677101_3346095233745027072_n.jpg"></div>
    </div>

    <script type="text/javascript" src="./../dist/app.bundle.js"></script>
</body>

</html>