<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Prague History Page</title>
    <link rel="stylesheet" href="./../libs/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./../css/style.css">
</head>

<body style="height: 500px">
    <div class="card-panel deep-orange lighten-1">
        <div class="hist" align="center"></div>
        <h4 align="center">Prague History</h4>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Prague, Czech Republic</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a id="history" href="/history">History</a></li>
                    <li><a href="/landmarks">Landmarks</a></li>
                    <li><a href="/tourism">Tourism</a></li>
                    <li><a href="/transportation">Transportation</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="picture">
                <div class="col-sm-12">
                    <div class="images">
                        <img style="margin-top: 25px" src="https://instagram.fphx1-1.fna.fbcdn.net/t51.2885-15/e35/20986761_1510124645677101_3346095233745027072_n.jpg">
                    </div>
                </div>
            </div>
        </div>
        <ul class="history">

            <li><b>5500 BC-4500 BC:</b> First evidence of continuous occupation of the area around Prague, by various Germanic
                and Celtic tribes. Trade routes leading from Southern to Northern Europe pass through the area.</li>
            <li><b>Around 500 BC:</b> One of the Celtic tribes, the Boii, are the first inhabitants known by name. The Boii named
                the region Bohemia and the river Vltava.</li>
            <li><b>6th century:</b> Arrival of the Slavs. Slavic settlements are established alongside the Germanic settlements
                around Prague. The Slavs eventually become the dominant people.</li>
            <li><b>8th century:</b> First settlement established on the site of present day Prague, in the Lesser Town (Mala
                Strana).
            </li>
            <li><b>9th century:</b> Settlement established on a hilltop site above the Lesser Town, which leads to the construction
                of Prague Castle.</li>
            <li><b>Around 870:</b> Foundation of Prague Castle.</li>
            <li><b>Around 926:</b> Construction of a Romanesque rotunda, the original church built on the site of St. Vitus Cathedral
                in the grounds of Prague Castle.</li>
            <li><b>965</b>: Prague first reported in the narration of Ibrahim Ibn Jakub, a merchant.</li>
            <li><b>973:</b> Foundation of Prague bishopric.</li>
            <li><b>10th century:</b> Foundation of Vysehrad on the opposite bank of the Vltava river.</li>
            <li><b>1085:</b> Prague becomes the residence of the first Bohemian king Vratislav I.</li>
            <li><b>1172:</b> Construction of Judita´s Bridge, the predecessor of Charles Bridge, and the 2nd stone bridge in
                Central Europe.
            </li>

            <li><b>Around 1230:</b> Establishment of the Old Town (Staré Město).</li>
            <li><b>1257:</b> Premysl Otakar II formalises the establishment of the Lesser Town, giving it town status and encouraging
                migrants from Northern Germany to settle here.</li>
            <li><b>1310-1346:</b> John of Luxembourg rules as the King of Bohemia. </li>
            <li><b>Around 1320:</b> Hradcany, the area around Prague Castle, is established.</li>
            <li><b>1338:</b> Foundation of the Old Town Hall - the importance of the city increases.</li>
            <li><b>1344:</b> Prague bishopric upgraded to archbishopric. Construction of <b>St. Vitus Cathedral (pictured above)</b>                begins (finishes in 1929).</li>
            <li><b>1346-1378:</b> Charles IV epoch - Prague becomes the capital of the Bohemian Kingdom and the Holy Roman Empire.</li>
            <li><b>1348:</b> Foundation of the New Town (Nové Město) and Charles University, the first university in Central
                Europe.
            </li>
            <li><b>1419-1437:</b> Attempts by the clergy to reform the church result in the Hussite's revolutionary movement
                lead by Jan Hus, the reform preacher and martyr. 1526: The Hapsburg dynasty ascends the Bohemian throne (lasts
                until 1918).
            </li>
            <li><b>1583-1611:</b> Rudolf II becomes the king of Bohemia. Prague becomes the emperor's residence and the centre
                of social and cultural life.
            </li>
            <li><b>1618-1620:</b> Defeat of the Czech nobles´ uprising; the Czech language and Czech national consciousness begin
                to decline. </li>
            <li><b>1784:</b> Union of the four hitherto independent Prague urban units (Hradcany, Lesser Town, Old Town and New
                Town).
            </li>
            <li><b>1784-1848:</b> Period of Czech national revival, beginning of the industrial revolution, establishment of
                Czech institutions.</li>
            <li><b>1918:</b> Proclamation of the independence of Czechoslovakia. Prague becomes the capital of the new state.
            </li>
            <li><b>1939-1945:</b> Occupation of Czechoslovakia by Nazi Germany. 1945: The Prague uprising and the "liberation"
                of Prague by the Soviet army. </li>
            <li><b>1948:</b> Czechoslovak coup d'état - Communist Party of Czechoslovakia, with Soviet backing, assumes control
                of the country, leading to four decades of communist dictatorship. </li>
            <li><b>1968:</b> Prague Spring - period of political liberalisation lead by Alexander Dubček, who was elected the
                First Secretary of the Communist Party of Czechoslovakia. Efforts to reform communism were ultimately thwarted
                by the invasion of Czechoslovakia by the Soviet Union and other members of the Warsaw Pact. </li>
            <li><b>1989:</b> The Velvet Revolution, so named because it is non-violent, starts on the 17th November. Student
                and other popular demonstrations against communism result in the collapse of communist rule, and the country's
                conversion to a parliamentary democracy. Vaclav Havel is elected President of Czechoslovakia. </li>
            <li><b>1990:</b> First free elections after the communist era. </li>
            <li><b>1993:</b> 01 January, Czechoslovakia splits in two and the Czech Republic is founded. </li>
            <li><b>1993:</b> 26 January, Vaclav Havel elected first president of the Czech Republic. </li>
            <li><b>1999:</b> 12 March, Czech Republic becomes a member of NATO. </li>
            <li><b>2004:</b> 01 May, Czech Republic joins the European Union (E.U.). </li>
            <li><b>2008:</b> 01 January, Czech Republic accedes to the Schengen agreement and removes internal borders with Schengen
                area countries. This allows travel to and from these countries without checks, both at land borders and airports.</li>

        </ul>


    </div>

    <script type="text/javascript" src="./../dist/app.bundle.js"></script>
</body>

</html>