<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Prague Tourism Page</title>
    <link rel="stylesheet" href="./../libs/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./../css/style.css">
</head>

<body style="height: 800px">
    <div class="card-panel deep-orange lighten-1">
        <div class="tour" align="center"></div>
        <h4 align="center">Prague Tourism</h4>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Prague, Czech Republic</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/history">History</a></li>
                    <li><a href="/landmarks">Landmarks</a></li>
                    <li><a id="tourism" href="/tourism">Tourism</a></li>
                    <li><a href="/transportation">Transportation</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
        <p>Prague is known as the "Jewel in the Crown" of Central Europe, and tourism has played an important role in the development
            of the city since the fall of communism. Tourism has driven the regeneration of Prague, transforming run down
            buildings into fine restaurants, vibrant bars and stylish hotels. Prague Tourism Fact: Prague's city centre is
            compact. From Wenceslas Square on one side to Prague Castle on the other is just a 30 minutes stroll (walking
            via the Old Town, across Charles Bridge and through the Lesser Town). With many of the city's finest areas pedestrianised,
            the sights and attractions are therefore best explored on foot. Prague is effectively an open air museum. In
            addition to the pure beauty of the city itself, opera, ballet and classical concerts are a true highlight of
            Prague. Performances are held all year round in magnificent opera houses, grand concert halls and ancient churches.</p>

        <div class="slider">
            <ul class="slides">
                <li class="images" style="background-color: transparent;  background-image:  url('https://instagram.fphx1-1.fna.fbcdn.net/t51.2885-15/e35/21107246_303306576800827_4296275581693067264_n.jpg'); background-position: bottom;  background-size: cover">
                    <div class="caption center-align">
                        <h3>Old Town Square</h3>
                        <h5 class="light grey-text text-lighten-3">(Stare Mesto)</h5>
                    </div>
                </li>
                <li class="images" style="background-color: transparent;  background-image:  url('https://instagram.fphx1-1.fna.fbcdn.net/t51.2885-15/e35/21149128_564146653709596_6304493115528970240_n.jpg'); background-position: bottom;  background-size: cover">
                    <div class="caption left-align">
                        <h3>Wenceslas Square</h3>
                        <h5 class="light grey-text text-lighten-3">(Looking down the square from the St. Wenceslas Statue)</h5>
                    </div>
                </li>
                <li class="images" style="background-color: transparent;  background-image:  url('https://instagram.fphx1-1.fna.fbcdn.net/t51.2885-15/e35/21107788_1378302382291173_132072696778326016_n.jpg'); background-position: bottom;  background-size: cover">
                    <div class="caption right-align">
                        <h3>Old Town Square</h3>
                        <h5 class="light grey-text text-lighten-3">(Square Center)</h5>
                    </div>
                </li>
                <li class="images" style="background-color: transparent;  background-image:  url('https://instagram.fphx1-1.fna.fbcdn.net/t51.2885-15/e35/21147900_1952850294994437_6391148427232673792_n.jpg'); background-position: bottom;  background-size: cover">
                    <div class="caption center-align">
                        <h3>Old Town Square</h3>
                        <h5 class="light grey-text text-lighten-3">(Square Center)</h5>
                    </div>
                </li>
                <li class="images" style="background-color: transparent;  background-image:  url('https://instagram.fphx1-1.fna.fbcdn.net/t51.2885-15/e35/21147211_2046609105568032_5905672992272154624_n.jpg'); background-position: bottom;  background-size: cover">
                    <div class="caption center-align">
                        <h3>Prague Castle Residence Square</h3>
                        <h5 class="light grey-text text-lighten-3">(St. George's Basilica)</h5>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <script type="text/javascript" src="./../dist/app.bundle.js"></script>
</body>

</html>