<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Prague Transportation Page</title>
    <link rel="stylesheet" href="./../libs/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./../css/style.css">
</head>

<body style="height: 500px">
    <div class="card-panel deep-orange lighten-1">
        <div class="trans" align="center"></div>
        <h4 align="center">Prague Transportation</h4>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Prague, Czech Republic</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/history">History</a></li>
                    <li><a href="/landmarks">Landmarks</a></li>
                    <li><a href="/tourism">Tourism</a></li>
                    <li><a id="transport" href="/transportation">Transportation</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
        <p>Prague has one of the best public transportation systems in Europe. The metro, trams and buses are used by two-thirds
            of Prague's population and cover the majority of the city and outskirts. The metro especially makes getting around
            town a breeze since it enables you to cover long distances in a matter of minutes. If you can't continue to your
            destination on foot, you'll be able to catch a tram or bus from near the subway station. If you are flying into
            Prague, your first concern probably is how to get to your destination from the airport. The Airport - Downtown
            section is a good one to read. To move around town, we recommend using public transport over driving or taking
            a taxi. If you do need to drive or take a cab, read the Parking and Taking a Taxi pages. If you're going to be
            staying in Prague for a few days, you may want to buy a tourist pass that will enable you to use any type of
            mass transit as many times as you want within the time period for which your pass is valid.
        </p>

        <div class="row">
            <div class="picture">
                <div class="col-sm-12">
                    <div class="images">
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/0d/35/17/0d3517a0660e0e9cc02a8a25341ce273.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./../dist/app.bundle.js"></script>
</body>

</html>